.center_triangle {
    height: 0;
    width: 0;
    border-bottom: 20px solid;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    backface-visibility: hidden;
}

@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 0;
        z-index: 0;
    }

    1% {
        transform: scale(0);
        opacity: 1;
        z-index: 60;
    }

    95% {
        transform: scale(150);
        opacity: 1;
        z-index: 20;
    }

    99% {
        transform: scale(180);
        opacity: 1;
        z-index: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        z-index: 0;
    }
}

.growing {
    animation-name: grow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}