@import "tailwindcss";

@font-face {
    font-family: 'Caprasimo';
    src: url('/fonts/Caprasimo-Regular.woff2'),
        url('/fonts/Caprasimo-Regular.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PollerOne';
    src: url('/fonts/PollerOne-Regular.woff2'),
        url('/fonts/PollerOne-Regular.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.caprasimo {
    font-family: 'Caprasimo',
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}

.pollerOne {
    font-family: 'PollerOne',
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}